---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div>
    <nav class="wrapper items-center flex justify-between h-20">
        <img src="" alt="Logo Image" width="200" height="50">
        <ul class="flex gap-x-5">
          <li><a href="#">Home</a></li>
          <li><a href="#">Description</a></li>
          <li><a href="#">Prices</a></li>
          </ul> 
      </nav>
    <main class="flex flex-col lg:flex-row gap-x-2 h-96 wrapper justify-between items-center">
      <div>
        <h2 class="text-6xl font-bold">Enjoy Designing</h2>
        <h2 class="text-4xl mt-2 text-slate-500">Scooter Implementation</h2>
      </div>
      <div class="w-96 h-96 rounded-full border border-slate-100 bg-slate-50/25">
        <model-viewer src="/models/Scootergltf/ElectricScooter.glb" class="h-full w-full" alt="Great Scooter" ar-scale="fixed" camera-orbit="290deg 90deg" auto-rotate camera-controls shadow-intensity="1" touch-action="pan-y=" disable-zoom disable-pan></model-viewer>
      </div>
    </main>
  </div>
</Layout>

<style is:global>

  .userInput.show {
    outline-width: 0px !important;
    outline-offset: 2px;
  } 

  .wrapper {
    max-inline-size: 1125px;
    margin: 0 auto;
  }
</style>
